@mixin left-panel-option-styles($left-panel-option-background) {
	background: $left-panel-option-background;
	height: 50%;
}

@mixin vertical-align-center($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin heading-styles($font-color, $font-size: 2em) {
	color: $font-color;
	font-size: $font-size;
	a {
		&:hover {
			text-decoration: underline;
		}
	}
}

@mixin accessibility-selector($background-color: #FFF, $foreground-color:#000){
	background-color: $background-color;
	color: $foreground-color;
}