%fixed-left-alignment {
	position: fixed;
	left: 0;
	top: 0;
	float: left;
}

%center-align {
	margin: 0 auto;
}

%left-aligned-list-items {
	float: left;
	margin-right: 15px;
}

%small-circle {
	  cursor: pointer;
	  float: left;
	  width: 15px;
	  height: 17px;
	  padding-left: 3px;
	  margin: 0px 4px 0 4px;
	  border: 1px solid;
	  border-radius: 50%;
	  font-size: 11px;
}

%result-box {
	padding: 2.6%;
	border: 1px solid #c2deea;
	margin-bottom: 30px;
}

%full-width-height {
	height: 100%;
	width: 100%;	
}

%text-decoration-none {
	text-decoration: none;
}

%dropdown-styles {
	background-color: $dropdown-background-color;
    border: $dropdown-border-color;
    border-radius: $dropdown-border-radius;
    color: $primary-font-color;
    line-height: 15px;
    padding: 6px;
    height: 32px;
    width: 100%;
    &:hover {
    	border-color: $base-color;
    }
}

%no-decoration {
	text-decoration: none
}

%no-list-style {
	list-style-type: none;
}

%left-panel-icon-spec {
	width: 40px;
	height: 50px;
	display: block;
}

%bottom-aligned-list-items {
	float: none;
	
}

%responsive-img-specification {
	max-width: 100%;
}