$base-color: #00a1de;
$background-image: url('../../../includes/public/images/sea.jpg');
$background-image-small: url('../../../includes/public/images/sea-small.jpg');
$position-fixed: fixed;
$base-color: #00a1de;
$default-font-color: rgb(255,255,255);
$primary-font-color: #003145;
$primary-background-color: rgb(255,255,255);
$full-height: 100%;
$full-width: 100%;
$reset-height: auto;
$medium-padding: 20px;
$horizontal-medium-padding: 0 20px;
$horizontal-small-padding: 0 10px;
$heading-block-padding: 20px;
$inline-block: inline-block;
$left-panel-width: 12%;
$heading-block-margin: 0 0 50px 0;
$max-width: 75%;
$max-width-reset: 100%;
$breadcrumb-background-color: rgba(0, 49, 69, 0.9);
$breadcrumb-padding: 10px 20px;
$dropdown-background-color: #fcfefe;
$dropdown-border-color: 1px solid #abd7ea;
$dropdown-border-radius: 3px;
$small-margin-bottom: 10px;
$small-margin-top: 10px;
$large-margin-top: 20px;
$search-box-padding: 20px;
$primary-button-background: #07a2de none repeat scroll 0 0;
$para-padding-bottom: 18px;
$large-padding-bottom: 20px;
$break-small: 768px;
$small-left-panel-options-width: 45%;
$small-left-panel-options-padding: 14px 10px;
$small-padding: 10px;
$large-padding: 20px;
$base-line-height: 120%;
$large-margin-left: 20px;
$small-font: 0.875em;
$ghost-text: #999;
$footer-background-color: #f5fafc;