* {
	color: #000 !important;
}

.is-open {
	background: #FF0;
}

header .t-header--closeLink, .t-filter--selectbox, .c-header__toggleButton, .c-page__heading, input[type="text"], .c-middle__info, .o-left-panel .c-header__toggleButton, .c-inspiration__option, .c-filter__option {
	background: #FF0 !important;
}

.t-primary--button {
	background: #000;
	color: #FF0 !important;
}