@import url(https://fonts.googleapis.com/css?family=Pacifico); 
@import "helpers/variables";
@import "components/generic";
@import "helpers/partials";
@import "helpers/mixins";
@import "helpers/functions";
@import "components/buttons";

h1 {
	@include heading-styles(#00a1de, 3em);
	@media screen and (max-width:$break-small) {
		font-size: 2em;
	}
}

h2 {
	@include heading-styles(#00a1de, 2em);
}

h3 {
	@include heading-styles(#005b82, 1.5em);
}

header {
	z-index: 99;
	position: fixed;
	width: 100%;
	background: $primary-background-color;
	display: none;
	.t-header--closeLink {
		@media screen and (max-width:$break-small) {
			display: none;
		} 
		padding: 10px;
		background: $primary-background-color;
		display: inline-block;
		width: 4%;
		position: absolute;
		left: 4%;
		img {
			width: 45px;
			height: 45px;
		}
	}
	@media screen and (max-width:$break-small) {
		top: 53px;
	}
}

footer {
	display: none;
	font-size: $small-font;
	background: #FFF;
	position: relative;
	.o-footer__outer {
		.t-footer--topSection {
			background: $footer-background-color;
			overflow: hidden;
			padding: 15px 10px 10px;
			margin-bottom: $small-margin-bottom;
		}
		.t-footer--bottomSection {
			overflow: hidden;
			ul li {
				padding-right: 15px;
				border-right: 1px solid $base-color;
				@extend %left-aligned-list-items;
				&:last-child{
					border-right: none;
					margin-right: 0;
					padding-right: 0;
				}
			}
		}
		padding: $large-padding;
		.t-left--links{
			overflow: hidden;
			float: left;
			ul li {
				@extend %left-aligned-list-items;
			}
		}
		.t-right--links{
		float: right;
			ul li {
				@extend %left-aligned-list-items;
				&:last-child {
					margin-right: 0;
				}
				&:first-child {
					border-right: 1px solid $base-color;
					padding-right: 15px;					
				}
				select {
					margin-right: 0;
					position: relative;
					bottom: 5px;
				}
			}
		}
	}
}

.is-open {
	display: block;
}

.o-image-main {
	position: $position-fixed;
	@media screen and (max-width:$break-small) {
		height: 270px;
	    position: fixed;
	    top: 53px;
	}
	background: $background-image;
	background-size: cover;
	@extend %full-width-height;
}

.o-left-panel {
	@media screen and (max-width:$break-small) {
		width: $full-width;
		height: $reset-height;
	}
	@extend %fixed-left-alignment;
	background: $primary-background-color;
	color: $primary-font-color;
	width: $left-panel-width;
	height: $full-height;
	ul {
		@extend %full-width-height;
		li{
			@media screen and (max-width:$break-small) {
				float: left;
			}
		}
	}
	.c-header__toggleButton {
		a {
			display: inline-block;
		}
		@media screen and (max-width:$break-small) {
			width: 10%;
			float: right;
			height: 53px;
			border-bottom: none;
		}
		img {
			width: 35px;
			height: 35px;
		}
		background: $base-color;
		height: 50px;
		text-align: center;
		border-bottom: 1px solid $default-font-color;
		padding: $small-padding;
	}
	.c-left__panelOption  {
		@media screen and (max-width: $break-small) {
			width: $small-left-panel-options-width;
			padding: $small-left-panel-options-padding;
			border-right: 1px solid #FFF;
		}
		padding: $horizontal-small-padding;
		.left__panelInner {
			@media screen and (max-width:$break-small) {
				transform: none;
			}
			@include vertical-align-center;
			a {
				text-align: center;
				display: block;
			}
		}
	}
	.t-left__panelLabel {
		@media screen and (max-width: $break-small) {
			width: 100%;
		}
			font-size: 1.2em;
			word-wrap: break-word;
			color: $default-font-color;
			display: block;
		}
}

.c-inspiration__option{
	border-bottom: 1px solid #FFF;
	@include left-panel-option-styles($base-color);
	a {
		color: $default-font-color;
		.u-inspired__icon {
			@media screen and (max-width: $break-small) {
				display: none;
			}
			@extend %left-panel-icon-spec;
			@extend %center-align;
			@extend %responsive-img-specification;
			background: url('../../../includes/public/images/inspired-icon.png') no-repeat scroll;
		}
	}
}

.c-filter__option {
	@include left-panel-option-styles($base-color);
	a {
		color: $primary-font-color;
		.u-filter__icon {
		@media screen and (max-width: $break-small) {
				display: none;
			}
			@extend %left-panel-icon-spec;
			@extend %center-align;
			@extend %responsive-img-specification;
			background: url('../../../includes/public/images/filter-icon.png') no-repeat scroll;
		}
	}
}

.o-middle {
	padding: {
		top: 20%;
	}
}

.t-filter--selectbox {
	@extend %dropdown-styles;
	float: left;
	margin: 0;
	max-width: 250px;
}

.c-page__heading {
	@media screen and (max-width: $break-small) {
		padding: $small-padding;
		margin-left: $large-margin-left;
	}
	padding: $heading-block-padding;
	margin: $heading-block-margin;
	background: $primary-background-color;
	display: $inline-block;
}

.c-breadcrumb {
	background: $breadcrumb-background-color none repeat scroll 0 0;
	overflow: hidden;
	padding: $breadcrumb-padding;
	a{
		color: $default-font-color;
	}
	ul {
		li {
			float: left;
		}
	}
}

.c-middle__info {
	h2.t-total--searchResults{
		@media screen and (max-width: $break-small) {
			border-bottom: 1px dotted $base-color;
			margin-bottom: $small-margin-bottom;
		}
	}
	background: $primary-background-color;
	padding: $medium-padding;
	overflow: hidden;
	.c-origin__filterWrapper {
		overflow: hidden;
		margin-bottom: $small-margin-bottom;
		.c-middle__views {
			float: left;
			width: 50%;
			.u-filter__wrapper {
				float: right;
				width: 58%;
				@media screen and (max-width: $break-small){
					float: left;
    				width: 100%;
    				margin-top: $small-margin-top;
				}
			}
			.view-wrapper {
				float: right;
				ul {
					li{
						float: left;
					}
				}
				@media screen and (max-width: $break-small) {
					display: none;
				}
			}
		}
	}
	.c-middle__departure {
		float: left;
		width: 50%;
		@media screen and (max-width: $break-small) {
			width: 100%;
		}
	}
	
	.c-middle__infomessage {
		@media screen and (max-width: $break-small) {
			word-wrap: break-word;
		}
	}
	
	.o-search-results {
		padding-top: $large-margin-top;
		.c-search__inner {
			overflow: hidden;
			@extend %result-box;
			.c-destination__details {
				width: 65%;
				float: left;
				margin-right: 3%;
				.u-destination__header{
					overflow: hidden;
					.t-destination--name {
						float: left;
						.t-destination--name h2 a {
							text-decoration: none;
						}
					}
					.t-destination-price {
						float: right;
						p{
							font-size: 0.8em;
							padding-bottom: 0;
						}
						.t-price--amount {
							font-size: 2em;
						}
						.t-currency--text {
							vertical-align: 11px;
							font-size: 0.9em;
						}
					}
				}
				@media screen and (max-width: $break-small) {
					width: 100%;
				}
				.c-destination__description {
					padding-bottom: $large-padding-bottom;
					border-bottom: 1px dotted $base-color;
					margin-bottom: $small-margin-bottom;
				}
				.u-journey__time {
					overflow: hidden;
					ul {
						li{
							@extend %left-aligned-list-items;
							@media screen and (max-width: $break-small) {
								float: none;
								margin-bottom: 15px;
							}
						}
					}
				}
				.u-journey__amenities {
					overflow: hidden;
					ul {
						li{
							@extend %left-aligned-list-items;
							@media screen and (max-width: $break-small) {
								float: none;
								margin-bottom: 15px;
							}
							a{
								color: #005b82;							
							}
						}
					}
				}
			}
			.o-destination__image {
				width: 32%;
			    float: left;
			    overflow: hidden;
			    @media screen and (max-width: $break-small) {
			    	width: 100%;
			    }
			}
		}
	}
}

.t-margin--leftAlign {
	@media screen and (max-width: $break-small) {
    	margin-left: none;
    }
} 

.o-body-main {
	position: relative;
}

.c-header__wrapper {
	@media screen and (max-width: $break-small) {
		border-bottom: 1px solid #00a1de;
    	border-top: 1px solid #00a1de;
	}
	overflow: hidden;
	padding: $large-padding;
	.c-header__firstRow {
		padding-bottom: 5px;
		margin-bottom: 10px;
		border-bottom: 1px solid #ccecf8;
		overflow: hidden;
		.t-header__logos {
			float: left;
			.t-header--logo {
				display: $inline-block;
				margin-right: 5px;
				img {
					width: 72px;
					height: 50px;
				}
			}
			.t-header--text {
				display: $inline-block;
				position: relative;
				bottom: 7px;
				img {
					width: 121px;
					height: 15px;
				}
			}
			.t-header--teamText {
				display: $inline-block;
				position: relative;
				bottom: 7px;
				img {
					width: 31px;
					height: 31px;
				}
			}
		}
		.c-header_firstRowLinks {
			@media screen and (max-width: $break-small) {
		    	float: left;
		    }
			float: right;
			ul {
				overflow: hidden;
				margin-top: 25px;
				li{
					a {
						font-size: $small-font;
					}
					&:last-child {
						border-right: none;
						margin-right: 0;
						padding-right: 0;
					}
					&:first-child {
						padding-right: 10px;
					}
					
					@extend %left-aligned-list-items;
					border-right: 1px solid $base-color;
					padding-right: 15px;
					display: inline-block;
					line-height: $base-line-height;
					ul {
						margin-top: 0;
						li {
							&:first-child{
								padding-right: 0;
							}
							padding-right: 0;
							border-right: 0;
							margin-right: 5px;
							.t-white--black-contrast span {
								@include accessibility-selector(#FFF, #000);
							}
							.t-black--yellow-contrast span {
								@include accessibility-selector(#000, #FF0);
							}
							.t-yellow--black-contrast span {
								@include accessibility-selector(#FF0, #000);
							}
							span {
							  @extend %small-circle;
							}
						}
					}
				}
			}
		}
	}
	.c-header__nav {
		overflow: hidden;
		.t-header--links {
			overflow: hidden;
			float: left;
			ul {
				li {
					@extend %left-aligned-list-items;
					a {
						font-size: $small-font;
					}
				}
			}
		}
	}
	.u-search__bar {
		@media screen and (max-width: $break-small) {
	    	float: left;
	    }
		overflow: hidden;
		position: relative;
		float: right;
			input {
				color: $ghost-text;
			}
			img {
			    right: 5px;
			    position: absolute;
			    top: 5px;
			}
	}
}
