@import url(https://fonts.googleapis.com/css?family=Pacifico);
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;
  font-weight: inherit;
  font-style: inherit;
  border: none;
  box-sizing: border-box; }

input[type="text"] {
  padding: 5px 10px;
  border: 1px solid #c2deea;
  border-radius: 3px; }

a {
  color: #00a1de; }

img {
  max-width: 100%; }

body {
  font-family: "NoaLight","Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif;
  color: #003145;
  font-size: 0.875em; }

strong {
  font-weight: bold; }

p {
  padding-bottom: 18px; }

.o-container {
  max-width: 75%;
  padding: 0 20px; }
  @media screen and (max-width: 768px) {
    .o-container {
      padding: 0;
      max-width: 100%; } }

.o-left-panel {
  position: fixed;
  left: 0;
  top: 0;
  float: left; }

body, .o-container, .c-inspiration__option a .u-inspired__icon, .c-filter__option a .u-filter__icon {
  margin: 0 auto; }

footer .o-footer__outer .t-footer--bottomSection ul li, footer .o-footer__outer .t-left--links ul li, footer .o-footer__outer .t-right--links ul li, .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-journey__time ul li, .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-journey__amenities ul li, .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li, .c-header__wrapper .c-header__nav .t-header--links ul li {
  float: left;
  margin-right: 15px; }

.c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li ul li span {
  cursor: pointer;
  float: left;
  width: 15px;
  height: 17px;
  padding-left: 3px;
  margin: 0px 4px 0 4px;
  border: 1px solid;
  border-radius: 50%;
  font-size: 11px; }

.c-middle__info .o-search-results .c-search__inner {
  padding: 2.6%;
  border: 1px solid #c2deea;
  margin-bottom: 30px; }

.o-image-main, .o-left-panel ul {
  height: 100%;
  width: 100%; }

.t-filter--selectbox {
  background-color: #fcfefe;
  border: 1px solid #abd7ea;
  border-radius: 3px;
  color: #003145;
  line-height: 15px;
  padding: 6px;
  height: 32px;
  width: 100%; }
  .t-filter--selectbox:hover {
    border-color: #00a1de; }

ul, li {
  text-decoration: none; }

ul {
  list-style-type: none; }

.c-inspiration__option a .u-inspired__icon, .c-filter__option a .u-filter__icon {
  width: 40px;
  height: 50px;
  display: block; }

.c-inspiration__option a .u-inspired__icon, .c-filter__option a .u-filter__icon {
  max-width: 100%; }

.t-view--button {
  margin-left: 8px;
  margin-right: 0;
  padding: 8px;
  background-image: linear-gradient(white, #d8eff9);
  border: 1px solid #a6d1e3;
  border-radius: 2px;
  color: #00a1de;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  line-height: 16px;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px #397d97, 0 1px #f9fdfe; }

.t-primary--button {
  background: #07a2de none repeat scroll 0 0;
  border-radius: 2px;
  color: white;
  display: inline-block;
  padding: 5px 17px; }

h1 {
  color: #00a1de;
  font-size: 3em; }
  h1 a:hover {
    text-decoration: underline; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2em; } }

h2 {
  color: #00a1de;
  font-size: 2em; }
  h2 a:hover {
    text-decoration: underline; }

h3 {
  color: #005b82;
  font-size: 1.5em; }
  h3 a:hover {
    text-decoration: underline; }

header {
  z-index: 99;
  position: fixed;
  width: 100%;
  background: white;
  display: none; }
  header .t-header--closeLink {
    padding: 10px;
    background: white;
    display: inline-block;
    width: 4%;
    position: absolute;
    left: 4%; }
    @media screen and (max-width: 768px) {
      header .t-header--closeLink {
        display: none; } }
    header .t-header--closeLink img {
      width: 45px;
      height: 45px; }
  @media screen and (max-width: 768px) {
    header {
      top: 53px; } }

footer {
  display: none;
  font-size: 0.875em;
  background: #FFF;
  position: relative; }
  footer .o-footer__outer {
    padding: 20px; }
    footer .o-footer__outer .t-footer--topSection {
      background: #f5fafc;
      overflow: hidden;
      padding: 15px 10px 10px;
      margin-bottom: 10px; }
    footer .o-footer__outer .t-footer--bottomSection {
      overflow: hidden; }
      footer .o-footer__outer .t-footer--bottomSection ul li {
        padding-right: 15px;
        border-right: 1px solid #00a1de; }
        footer .o-footer__outer .t-footer--bottomSection ul li:last-child {
          border-right: none;
          margin-right: 0;
          padding-right: 0; }
    footer .o-footer__outer .t-left--links {
      overflow: hidden;
      float: left; }
    footer .o-footer__outer .t-right--links {
      float: right; }
      footer .o-footer__outer .t-right--links ul li:last-child {
        margin-right: 0; }
      footer .o-footer__outer .t-right--links ul li:first-child {
        border-right: 1px solid #00a1de;
        padding-right: 15px; }
      footer .o-footer__outer .t-right--links ul li select {
        margin-right: 0;
        position: relative;
        bottom: 5px; }

.is-open {
  display: block; }

.o-image-main {
  position: fixed;
  background: url("../../../includes/public/images/sea.jpg");
  background-size: cover; }
  @media screen and (max-width: 768px) {
    .o-image-main {
      height: 270px;
      position: fixed;
      top: 53px; } }

.o-left-panel {
  background: white;
  color: #003145;
  width: 12%;
  height: 100%; }
  @media screen and (max-width: 768px) {
    .o-left-panel {
      width: 100%;
      height: auto; } }
  @media screen and (max-width: 768px) {
    .o-left-panel ul li {
      float: left; } }
  .o-left-panel .c-header__toggleButton {
    background: #00a1de;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid white;
    padding: 10px; }
    .o-left-panel .c-header__toggleButton a {
      display: inline-block; }
    @media screen and (max-width: 768px) {
      .o-left-panel .c-header__toggleButton {
        width: 10%;
        float: right;
        height: 53px;
        border-bottom: none; } }
    .o-left-panel .c-header__toggleButton img {
      width: 35px;
      height: 35px; }
  .o-left-panel .c-left__panelOption {
    padding: 0 10px; }
    @media screen and (max-width: 768px) {
      .o-left-panel .c-left__panelOption {
        width: 45%;
        padding: 14px 10px;
        border-right: 1px solid #FFF; } }
    .o-left-panel .c-left__panelOption .left__panelInner {
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      @media screen and (max-width: 768px) {
        .o-left-panel .c-left__panelOption .left__panelInner {
          transform: none; } }
      .o-left-panel .c-left__panelOption .left__panelInner a {
        text-align: center;
        display: block; }
  .o-left-panel .t-left__panelLabel {
    font-size: 1.2em;
    word-wrap: break-word;
    color: white;
    display: block; }
    @media screen and (max-width: 768px) {
      .o-left-panel .t-left__panelLabel {
        width: 100%; } }

.c-inspiration__option {
  border-bottom: 1px solid #FFF;
  background: #00a1de;
  height: 50%; }
  .c-inspiration__option a {
    color: white; }
    .c-inspiration__option a .u-inspired__icon {
      background: url("../../../includes/public/images/inspired-icon.png") no-repeat scroll; }
      @media screen and (max-width: 768px) {
        .c-inspiration__option a .u-inspired__icon {
          display: none; } }

.c-filter__option {
  background: #00a1de;
  height: 50%; }
  .c-filter__option a {
    color: #003145; }
    .c-filter__option a .u-filter__icon {
      background: url("../../../includes/public/images/filter-icon.png") no-repeat scroll; }
      @media screen and (max-width: 768px) {
        .c-filter__option a .u-filter__icon {
          display: none; } }

.o-middle {
  padding-top: 20%; }

.t-filter--selectbox {
  float: left;
  margin: 0;
  max-width: 250px; }

.c-page__heading {
  padding: 20px;
  margin: 0 0 50px 0;
  background: white;
  display: inline-block; }
  @media screen and (max-width: 768px) {
    .c-page__heading {
      padding: 10px;
      margin-left: 20px; } }

.c-breadcrumb {
  background: rgba(0, 49, 69, 0.9) none repeat scroll 0 0;
  overflow: hidden;
  padding: 10px 20px; }
  .c-breadcrumb a {
    color: white; }
  .c-breadcrumb ul li {
    float: left; }

.c-middle__info {
  background: white;
  padding: 20px;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .c-middle__info h2.t-total--searchResults {
      border-bottom: 1px dotted #00a1de;
      margin-bottom: 10px; } }
  .c-middle__info .c-origin__filterWrapper {
    overflow: hidden;
    margin-bottom: 10px; }
    .c-middle__info .c-origin__filterWrapper .c-middle__views {
      float: left;
      width: 50%; }
      .c-middle__info .c-origin__filterWrapper .c-middle__views .u-filter__wrapper {
        float: right;
        width: 58%; }
        @media screen and (max-width: 768px) {
          .c-middle__info .c-origin__filterWrapper .c-middle__views .u-filter__wrapper {
            float: left;
            width: 100%;
            margin-top: 10px; } }
      .c-middle__info .c-origin__filterWrapper .c-middle__views .view-wrapper {
        float: right; }
        .c-middle__info .c-origin__filterWrapper .c-middle__views .view-wrapper ul li {
          float: left; }
        @media screen and (max-width: 768px) {
          .c-middle__info .c-origin__filterWrapper .c-middle__views .view-wrapper {
            display: none; } }
  .c-middle__info .c-middle__departure {
    float: left;
    width: 50%; }
    @media screen and (max-width: 768px) {
      .c-middle__info .c-middle__departure {
        width: 100%; } }
  @media screen and (max-width: 768px) {
    .c-middle__info .c-middle__infomessage {
      word-wrap: break-word; } }
  .c-middle__info .o-search-results {
    padding-top: 20px; }
    .c-middle__info .o-search-results .c-search__inner {
      overflow: hidden; }
      .c-middle__info .o-search-results .c-search__inner .c-destination__details {
        width: 65%;
        float: left;
        margin-right: 3%; }
        .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-destination__header {
          overflow: hidden; }
          .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-destination__header .t-destination--name {
            float: left; }
            .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-destination__header .t-destination--name .t-destination--name h2 a {
              text-decoration: none; }
          .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-destination__header .t-destination-price {
            float: right; }
            .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-destination__header .t-destination-price p {
              font-size: 0.8em;
              padding-bottom: 0; }
            .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-destination__header .t-destination-price .t-price--amount {
              font-size: 2em; }
            .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-destination__header .t-destination-price .t-currency--text {
              vertical-align: 11px;
              font-size: 0.9em; }
        @media screen and (max-width: 768px) {
          .c-middle__info .o-search-results .c-search__inner .c-destination__details {
            width: 100%; } }
        .c-middle__info .o-search-results .c-search__inner .c-destination__details .c-destination__description {
          padding-bottom: 20px;
          border-bottom: 1px dotted #00a1de;
          margin-bottom: 10px; }
        .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-journey__time {
          overflow: hidden; }
          @media screen and (max-width: 768px) {
            .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-journey__time ul li {
              float: none;
              margin-bottom: 15px; } }
        .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-journey__amenities {
          overflow: hidden; }
          @media screen and (max-width: 768px) {
            .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-journey__amenities ul li {
              float: none;
              margin-bottom: 15px; } }
          .c-middle__info .o-search-results .c-search__inner .c-destination__details .u-journey__amenities ul li a {
            color: #005b82; }
      .c-middle__info .o-search-results .c-search__inner .o-destination__image {
        width: 32%;
        float: left;
        overflow: hidden; }
        @media screen and (max-width: 768px) {
          .c-middle__info .o-search-results .c-search__inner .o-destination__image {
            width: 100%; } }

@media screen and (max-width: 768px) {
  .t-margin--leftAlign {
    margin-left: none; } }

.o-body-main {
  position: relative; }

.c-header__wrapper {
  overflow: hidden;
  padding: 20px; }
  @media screen and (max-width: 768px) {
    .c-header__wrapper {
      border-bottom: 1px solid #00a1de;
      border-top: 1px solid #00a1de; } }
  .c-header__wrapper .c-header__firstRow {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccecf8;
    overflow: hidden; }
    .c-header__wrapper .c-header__firstRow .t-header__logos {
      float: left; }
      .c-header__wrapper .c-header__firstRow .t-header__logos .t-header--logo {
        display: inline-block;
        margin-right: 5px; }
        .c-header__wrapper .c-header__firstRow .t-header__logos .t-header--logo img {
          width: 72px;
          height: 50px; }
      .c-header__wrapper .c-header__firstRow .t-header__logos .t-header--text {
        display: inline-block;
        position: relative;
        bottom: 7px; }
        .c-header__wrapper .c-header__firstRow .t-header__logos .t-header--text img {
          width: 121px;
          height: 15px; }
      .c-header__wrapper .c-header__firstRow .t-header__logos .t-header--teamText {
        display: inline-block;
        position: relative;
        bottom: 7px; }
        .c-header__wrapper .c-header__firstRow .t-header__logos .t-header--teamText img {
          width: 31px;
          height: 31px; }
    .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks {
      float: right; }
      @media screen and (max-width: 768px) {
        .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks {
          float: left; } }
      .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul {
        overflow: hidden;
        margin-top: 25px; }
        .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li {
          border-right: 1px solid #00a1de;
          padding-right: 15px;
          display: inline-block;
          line-height: 120%; }
          .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li a {
            font-size: 0.875em; }
          .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li:last-child {
            border-right: none;
            margin-right: 0;
            padding-right: 0; }
          .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li:first-child {
            padding-right: 10px; }
          .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li ul {
            margin-top: 0; }
            .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li ul li {
              padding-right: 0;
              border-right: 0;
              margin-right: 5px; }
              .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li ul li:first-child {
                padding-right: 0; }
              .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li ul li .t-white--black-contrast span {
                background-color: #FFF;
                color: #000; }
              .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li ul li .t-black--yellow-contrast span {
                background-color: #000;
                color: #FF0; }
              .c-header__wrapper .c-header__firstRow .c-header_firstRowLinks ul li ul li .t-yellow--black-contrast span {
                background-color: #FF0;
                color: #000; }
  .c-header__wrapper .c-header__nav {
    overflow: hidden; }
    .c-header__wrapper .c-header__nav .t-header--links {
      overflow: hidden;
      float: left; }
      .c-header__wrapper .c-header__nav .t-header--links ul li a {
        font-size: 0.875em; }
  .c-header__wrapper .u-search__bar {
    overflow: hidden;
    position: relative;
    float: right; }
    @media screen and (max-width: 768px) {
      .c-header__wrapper .u-search__bar {
        float: left; } }
    .c-header__wrapper .u-search__bar input {
      color: #999; }
    .c-header__wrapper .u-search__bar img {
      right: 5px;
      position: absolute;
      top: 5px; }

/*# sourceMappingURL=main.css.map */
