.t-view--button {
	margin-left: 8px;
    margin-right: 0;
    padding: 8px;
    background-image: linear-gradient(white, #d8eff9);
    border: 1px solid #a6d1e3;
    border-radius: 2px;
    color: #00a1de;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px #397d97, 0 1px #f9fdfe;
}

.t-primary--button {
    background: $primary-button-background;
    border-radius: 2px;
    color: $default-font-color;
    display: inline-block;
    padding: 5px 17px;
}
