* { 
	margin: 0; 
	padding: 0; 
	text-decoration: none;  
	outline: none;
	font-weight:inherit; 
	font-style:inherit;
	border:none; 
	box-sizing: border-box;
}

input[type="text"] {
	padding: 5px 10px;
	border: 1px solid #c2deea;
	border-radius: 3px;
}

a {
	color: $base-color;
}

img {
	max-width: 100%;
}

body {
	@extend %center-align;
	font-family:"NoaLight","Lucida Grande","Lucida Sans Unicode","Helvetica Neue","Helvetica",verdana,arial,sans-serif;
	color:$primary-font-color;
	font-size:0.875em;
}

strong {
	font-weight: bold;
}

p {
	padding-bottom: $para-padding-bottom;
}

ul{
	@extend %no-decoration;
	@extend %no-list-style;
}

li {
	@extend %no-decoration;
}

.o-container {
	max-width: $max-width;
	@extend %center-align;
	padding: $horizontal-medium-padding;
	@media screen and (max-width:$break-small) {
		padding: 0;
		max-width: $max-width-reset;
	}
}

